/* main.css */


/* @import "vendors/reset.css"; */

@import "vendors/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

/* font-family: 'Eater', cursive; */


/* font-family: 'Nova Mono', monospace; */


/* typography */

p,
div,
footer {
    font-family: 'Courgett', cursive;
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Kaushan', cursive;
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote,
div,
header,
footer {
    color: #0F0;
}


/* Main Navigation */


/* removes the padding on the main unordered list in the navigation */

nav>ul {
    padding: 0;
}

nav ul {
    list-style-type: none;
}

nav a {
    font-family: 'Courgett', cursive;
    padding: 0.7rem;
    display: block;
    text-decoration: none;
}

nav a {
    color: greenyellow;
}

nav a:visited {
    color: #F0F;
}

nav a:hover {
    color: #00BFFF;
}

nav a+.sub-nav {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}


/* behold the awesome power of pseudo-selectors within the cascade! */

nav a:hover+.sub-nav,
nav .sub-nav:hover {
    height: 150px;
}


/* Background */

body {
    background-image: url('download-1.jpg');
    padding: 5%;
    background-color: blueviolet;
}